{% extends 'MigolCommonPagesBundle::layout.html.twig' %}

{% block content %}
<!-- Worldmap bg -->
<div class="index-worldmap-bg">
    <div class="row margin-top-topbar">
        <!-- Logo and Slogan -->
        <div class="span10">
            <div class="row margin-top-standard">
                <div class="span10">
                    <img src="{{ asset('bundles/migolcommonpages/images/logos/official_logo_elegido_small.png') }}" alt="Migol" />   
                </div>
            </div>
            <div class="row margin-top-standard">  
                <div class="span10">
                    <h1>{{'public.title' | trans }}<br/><small>{{'public.slogan' | trans }}</small></h1>
                </div>
            </div>

        </div>
        <!-- End Logo and Slogan -->

        <!-- Login Box -->
        <div class="span6">
            <div class="row margin-top-standard">
                <div class="span6 white-transparent-box">
                    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-stacked">
                    <div class="modal-header">
                        <h3>{{'public.signin' | trans }}</h3>
                    </div>
                    <div class="modal-body">
                        <p>
                            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" />
                        </p>
                        <p>
                            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                            <input type="password" id="password" name="_password" />
                        </p>
                        <p>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <span>{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</span>

                        </p>
                    </div>
                    <div class="modal-footer">
                        <p>
                            <a href="#">{{'public.signin.password.lost' | trans }}</a>
                            <input class="btn success" type="submit" id="_submit" name="_submit" value="{{ 'public.signin'|trans }}" />
                            
                        </p> 
                        <p><br/><a href="#" class="btn facebook">{{'public.signup.facebook.connect' | trans }}</a></p>
                        
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Login Box -->
    </div>
    <!-- Register Action -->
    <div class="row margin-top-standard">
        <div class="span10">
            <p><span class="label important">{{'public.watch' | trans }}</span> {{'public.learnmore' | trans }} 
                <a href="#" data-controls-modal="tour" data-keyboard="true" data-backdrop="true">{{'public.learnmore.link' | trans }}</a>
            </p>
        </div>
        <div class="span6">
            <a href="{{ url('fos_user_registration_register') }}" class="btn superlarge orange"><em>{{'public.signup' | trans }}</em></a>
        </div>
    </div>
    <!-- End Register Action -->

    <!-- Tour -->
    <div id="tour" class="modal hide fade in">
        <div class="modal-header">
            <a href="#" class="close">x</a>
            <h3>{{'public.learnmore.title' | trans }}</h3>
        </div>
        <div class="modal-body" id="video-tour">
            <object class="center-block" style="height: 300px; width: 400px"><param name="movie" value="http://www.youtube.com/v/OYYDfK6rXMQ?version=3"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/OYYDfK6rXMQ?version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="400" height="300"></object>
        </div>
        <div class="modal-footer">
            <span class="help-block">{{'public.scape.toclose' | trans }}</span>
        </div>
    </div>
    <!-- End Tour -->

    <!-- Select Zone -->
    <div class="row margin-top-standard">
        <div class="span16 black-transparent-box">
            <div class="padding-top-half padding-left-half">
                <p class="white-text"><strong><em>{{'public.zone' | trans }}</em></strong></p>
                <p><strong>{{'public.zone' | trans }}</strong></p>
            </div>
        </div>
    </div>
    <!-- End Select Zone -->
    </div>
<!-- End WorlMap bg -->
{% endblock %} 