<h1>Skill list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Forplayer</th>
            <th>Formanager</th>
            <th>Fortrainer</th>
            <th>Forfan</th>
            <th>Formedic</th>
            <th>Foragent</th>
            <th>Forexecutive</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_migol_skill_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.forplayer }}</td>
            <td>{{ entity.formanager }}</td>
            <td>{{ entity.fortrainer }}</td>
            <td>{{ entity.forfan }}</td>
            <td>{{ entity.formedic }}</td>
            <td>{{ entity.foragent }}</td>
            <td>{{ entity.forexecutive }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_migol_skill_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_migol_skill_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_migol_skill_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
