
<div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar" data-dropdown="dropdown">
        <div class="topbar-inner">
            <div class="container">
                <ul class="nav secondary-nav">
                    <li><a href="#">{{'public.navigation.queesmigol' | trans }}</a></li>
                    <li><a href="#">{{'public.navigation.faq' | trans }}</a></li>
                    <li><a href="#">{{'public.navigation.contact' | trans }}</a></li>
                    <li><a href="{{ url('fos_user_registration_register') }}" class="yellow">{{'public.navigation.signup' | trans }} &raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
